@{
    ViewBag.Title = "SPA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Customer Manager</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/customerManagementStyles.css" rel="stylesheet" />

</head>
<body data-ng-app="ApplicationModule">
    <div>
        <div>
            
            <div>
                <div data-ng-view></div>
            </div>
        </div>
    </div>

</body>

@section scripts{    

        <!-- Vendor Libs: jQuery only used for Bootstrap functionality -->
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>

<!-- UI Libs -->
<script src="Scripts/bootstrap.js"></script>
<script src="~/AlifScripts/Module.js"></script>
<script src="~/AlifScripts/Service.js"></script>
<script src="~/AlifScripts/ShowStudentsController.js"></script>

}
